/SpringBoot-BasicAuthentication/target/
/SpringBoot-BasicAuthentication/.idea/
/SpringBoot-BasicAuthentication/auth-web-basic.iml
/SpringBoot-DigestAuthentication/target/
/SpringBoot-DigestAuthentication/.idea/
/SpringBoot-DigestAuthentication/auth-web-digest.iml
/SpringBoot-HttpsConfiguration/target/
/SpringBoot-HttpsConfiguration/.idea/
/SpringBoot-HttpsConfiguration/auth-basic-https.iml
/SpringBoot-MaliciousSite/target/
/SpringBoot-MaliciousSite/.idea/
/SpringBoot-MaliciousSite/malicious-site.iml
/SpringBoot-SqlInjection/target/
/SpringBoot-SqlInjection/.idea/
/SpringBoot-SqlInjection/auth-web-data-jdbc.iml