/SpringBoot-BasicAuthentication/target/
/SpringBoot-BasicAuthentication/.idea/
/SpringBoot-BasicAuthentication/auth-web-basic.iml
/SpringBoot-DigestAuthentication/target/
/SpringBoot-DigestAuthentication/.idea/
/SpringBoot-DigestAuthentication/auth-web-digest.iml
/SpringBoot-HttpsConfiguration/target/
/SpringBoot-HttpsConfiguration/.idea/
/SpringBoot-HttpsConfiguration/auth-basic-https.iml
/SpringBoot-MaliciousSite/target/
/SpringBoot-MaliciousSite/.idea/
/SpringBoot-MaliciousSite/malicious-site.iml
/SpringBoot-SqlInjection/target/
/SpringBoot-SqlInjection/.idea/
/SpringBoot-SqlInjection/auth-web-data-jdbc.iml
/SpringBoot-UserRegistration/target/
/SpringBoot-UserRegistration/.idea/
/SpringBoot-UserRegistration/auth-web-data-reg.iml
/SpringBoot-VaultSetup/target/
/SpringBoot-VaultSetup/.idea/
/SpringBoot-VaultSetup/auth-web-data-vault.iml
/SpringBoot-MultiFactorAuthentication/target/
/SpringBoot-MultiFactorAuthentication/.idea/
/SpringBoot-MultiFactorAuthentication/auth-web-mfa.iml
/SpringBoot-RememberMe/target/
/SpringBoot-RememberMe/.idea/
/SpringBoot-RememberMe/auth-web-remember-me.iml
